body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;

}

/* SCROLL */

/*
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background-color: #007bff; }

*/

/* NAV BAR */

#custom-nav {
    font-size: 17px;
    font-weight: 600;
    padding: 1rem 1rem;
    /*backdrop-filter: saturate(180%) blur(20px);
    background: rgba(0, 0, 0, 0.8);*/

}

.navbar-brand {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: none;
}

#custom-nav li a:hover {
    color: #008aff;
    transition: all .2s ease;

}

/* GERAL */

.titlesection {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.subtitlesection {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 18px;
    max-width: 680px;
    margin: auto;
    margin-bottom: 3rem;
}

p, li {
    color: #718096;
}

.card {
    border-color: #ECEFF3;
    border-radius: 10px;
}

h5 {
    text-align: center;
    font-weight: 700;
}

.btn-primary {
    border-radius: 20px;
    background-color: #008aff;
    transition: all .2s ease;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #006ecc;
    border-color: #006ecc;
    transition: all .2s ease;
}

.btntema {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    height: 30px;
    z-index: 200;
}

/* SECTIONS GERAL */

section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* SECTION HOME */

#home {
    background-color: #e3f2fd;
}

#home h1 {
    font-weight: 800;
}

#home p {
    font-size: 22px;
    line-height: 1.6;
    font-weight: 400;
}

/* MOTIVOS */


/* SERVIÇOS */

#servicos .card:hover {
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    transition: all .4s ease;
}
#servicos p {
    text-align: center;
}

#servicos svg {
    height: 80px;
}

#servicos h5 {
    font-weight: 600;
}

/* MISSÃO */

#missao {
    background-color: #273444;
}

/*
#missao p {
    width: 680px;
    margin: auto;
}
*/

/* SECTION ESTATÍSTICAS */

#estatisticas p {
    text-align: center;
}

#estatisticas h1 {
    text-align: center;
    font-weight: 600;
}

#estatisticas svg {
    height: 80px;
}

#estatisticas h1 {
    color: #008aff;
}

/* SECTION DEPOIMENTOS */

#depoimentos {
    background-color: #f8faff;
}

#depoimentos .hover-up {
    transition: all .2s ease;
}

#depoimentos .hover-up:hover {
    transform: translateY(-10px);
    transition: all .2s ease;
}


#depoimentos .mt-lg-7 {
    margin-top: 6rem;
}

#depoimentos {
    text-align: center;
}

#depoimentos img {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 1rem;
}

/*#depoimentos {
    background-color: #f8faff;
}*/

/* SECTION CONTATO */

/*
#contato .fa-2x {
    vertical-align: middle;
    margin-right: 6px;
}

#contato i {
    font-size: 1.5rem;
}

*/

#contato .btn {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

#contato .btn:hover {
    color: #fff!important;
}

.whatsapp:hover {
    background: #25D366;
    border-color: #25D366;
}

.telegram:hover {
    background: #0088CC;
    border-color: #0088CC;
}

.email:hover {
    background: #6c757d;
    border-color: #6c757d;
}

.modal-backdrop.show {
    opacity: 0.8;
}

/* FOOTER */

#custom-footer {
    background-color: #111;
    color: #fff;
}

#custom-footer a {
    color: #fff;
}

#custom-footer a:hover {
    color: #008aff;
}

#copyright {
    background-color: #111;
    color: #fff;
}


/* @ MEDIA */

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #home {
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .mt-lg-7 {
        margin-top: 0px!important;
    }
}

/* MODO ESCURO */

.night {
    background: #000;
    color: #fff;
    transition: all .2s ease;
}

.day {
    background: #fff;
    color: #000;
    transition: all .2s ease;
}

.night #custom-nav {
    background-color: #121212!important;
}

.night #custom-nav a {
    color: #fff;
} 

.night .navbar-toggler {
   background-color: #fff;
}

.night #home {
    background-color: #121212!important;
}

.night #home p {
    color: #fff;
}

.night #servicos .card {
    background-color: #121212;
}

.night #servicos {
    background-color: #000;
}

.night .card {
    background-color: #121212;
    border: none;
}

.night p {
    color: #fff;
}

.night li {
    color: #fff;
}

.night #depoimentos {
    background-color: #000!important;
}



.night #contato {
    background-color: #000;
}
